---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
        <a href="/blog/">Blog</a>

        <h1>Astro</h1>

        <h2>Blog</h2>
        <h1>My Astro Learning Blog</h1>
        <p>This is where I will post about my journey learning Astro.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, labore. Nisi voluptatum repellendus aut qui debitis sit, earum quo repudiandae nulla vel animi consequatur ex placeat soluta nemo iusto repellat autem magnam officiis sint possimus. Dolorum modi provident quae libero similique expedita, nemo labore.</p>
		
	</body>
</html>